body {

  padding: 0px;
  margin: 0px;

}
.back-btn-1 {
  background-color: green;

}
.back-btn-2 {
  background-color: blue;
}
.back-btn-3 {
  background-color: red;
}
.new {

  float: right;
  width: 11em;
  height: 3em;

}

