body {
  margin: 0px;
}
.style-div-2 {
  padding-top: 8em;
  border-radius: 23px 13px 10px 8px;
  background: grey;
  padding-bottom: 2em;
}
.btn-dialog {
  margin-top: 3em;
}
.style-div {
  color: white;
  font-size: 30px;
  text-align: center;
  border-radius: 1px 1px 1px 1px solid;
}
.delete {
  margin-top: 1em;
  width: 9em;
  font-weight: 500;
}
