.h1-style {
    padding-bottom: 1em;
    padding-top: 3em;
    color: blue;
    font-family: auto;
    font-weight: bold;
  }

  .pad-input{
    padding-top: 16px;
  }
 .input-style {
    height: 56px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: blue!important;
}
.style-label{
    font-size: 25px;
    padding: 10px;
}
form {
    padding-bottom: 6em;
    border: 1px solid blue;
    background-color: aliceblue;
    padding: 38px;
    box-shadow: 2px 1px 27px 2px blue;
}
.back{
        width: 9em;
        height: 3em;
}
.div-back{
    padding-top: 2em;
}